<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">

	<title>Detail</title>
	
</head>
<body>

{% if token %}
<p>token avaliable now:</p>
<p><textarea name="Name" rows="8" cols="40">{{ token.token }}</textarea></p>
<p>issued at:</p>
<p><textarea name="Name" rows="8" cols="40">{{ token.issued_datetime }}</textarea></p>
<p>expires at:</p>
<p><textarea name="Name" rows="8" cols="40">{{ token.expires_datetime }}</textarea></p>
<p>want <a href="{% url 'token_form'%}">refresh token</a></p>
{% else %}
<p>there is no avaliable token now</p>
<p>please <a href="{% url 'token_form'%}">refresh token</a></p>
{% endif %}

</body>
</html>
